upstream fastcgi_backend {
  server ${PHP_FPM_HOST}:${PHP_FPM_PORT};
}

server {
  listen ${NGINX_PORT};
  listen 443 default_server ssl;

  server_name ${NGINX_HOST};

  ssl_certificate             /etc/nginx/ssl/cert.pem;
  ssl_certificate_key         /etc/nginx/ssl/key.pem;

  client_max_body_size        ${NGINX_MAX_BODY_SIZE};

  set ${ESC}MAGE_ROOT ${NGINX_ROOT};
  set ${ESC}MAGE_MODE developer;

  access_log /var/log/nginx/magento2-access.log;
  error_log /var/log/nginx/magento2-error.log;

  include ${NGINX_ROOT}/nginx.conf.sample;
}
